<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="../ExploreScreen/explore.css">
  <script src="https://use.fontawesome.com/6b514ba987.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
</head>
<body>
    <div class="container" id="wd-home"></div>
    <script src="HomeScreen.js" type="module"></script>
</body>
</html>
